<div class="deal-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="deal-inner deal-bg position-relative ptb-80px"
                     style="background-image: url('{{ deal.background_image.url }}');">
                    <div class="deal-wrapper">
                        <h3 class="title">{{ discounted_products.first.name }} <br>
                            & Offer Sale - {{ discounted_products.first.discount_percentage|floatformat:0 }}%</h3>
                        <span class="price">
                            <span class="old"> <del>${{ discounted_products.first.price|floatformat:2 }}</del></span>
                            <span class="new">- ${{ discounted_products.first.final_price|floatformat:2 }}</span>
                        </span>
                        <a href="{% url 'add_to_cart' discounted_products.first.id %}" class="btn btn-lg btn-primary">Add To Cart</a>
                    </div>
                    <div class="deal-image">
                        <img class="img-fluid" src="{{ discounted_products.first.photo.url }}" alt="{{ discounted_products.first.name }}" style="width: 350px; height: 350px; object-fit: contain;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
