<!-- Feature Area Start -->
<div class="feature-area pt-100px">
    <div class="container">
        <div class="feature-wrapper">
            {% for feature in features %}
            <div class="single-feture-col">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{{ feature.image.url }}" alt="{{ feature.name }}">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">{{ feature.name }}</h4>
                        <span class="sub-title">{{ feature.description }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Feature Area End -->
