<!-- Product Area Start -->
<div class="product-area">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-12">
                <div class="section-title text-center mb-60px">
                    <h2 class="title">Popular Categories</h2>
                    <p>Find one that suits you best</p>
                </div>
                <!-- Tab Start -->
                <div class="tab-slider swiper-container slider-nav-style-1 small-nav">
                    <ul class="product-tab-nav nav swiper-wrapper">
                        {% for category in categories %}
                        <li class="nav-item swiper-slide">
                            <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" href="#tab-{{ category.slug }}">
                                <img src="{{ category.icon.url }}" alt="">
                                <span>{{ category.name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <!-- Tab End -->
            </div>
            <!-- Section Title End -->
        </div>
        <!-- Section Title & Tab End -->

        <div class="row">
            <div class="col">
                <div class="tab-content mt-60px">
                    {% for category in categories %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab-{{ category.slug }}" role="tabpanel" aria-labelledby="tab-{{ category.slug }}">
                        <div class="row">
                            {% for product in category %}
                            {% if product.is_visible %}
                            <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                <!-- Single Product -->
                                <div class="product">
                                    <div class="thumb">
                                        <a href="{% url 'product_detail' product.id %}" class="image">
                                            <img src="{{ MEDIA_URL }}{{ product.photo.url }}" alt="{{ product.name }}" />
                                        </a>
                                        <span class="badges">
                                            {% if product.discount_percentage %}
                                            <span class="sale">{{ product.discount_percentage|floatformat:0 }}%</span>
                                            {% endif %}
                                        </span>
                                        <div class="actions">
                                            <a href="{% url 'add_to_wishlist' product.id %}" class="action wishlist" title="Wishlist">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5 class="title">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                        </h5>
                                        <span class="price">
                                            <span class="new">${{ product.final_price|floatformat:2 }}</span>
                                            {% if product.discount_price %}
                                            <span class="old">${{ product.price|floatformat:2 }}</span>
                                            {% endif %}
                                        </span>
                                        <span class="ratings">
                                            <span class="rating-wrap">
                                                <span class="star" style="width: {{ product.average_rating_percent }}%"></span>
                                            </span>
                                            <span class="rating-num">({{ product.reviews.count }} Reviews)</span>
                                        </span>
                                    </div>
                                        <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart" title="Add To Cart">Add To Cart</a>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End -->