{% load static %}

<!-- Footer Area Start -->
<div class="footer-area">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3 mb-md-30px mb-lm-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Information</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="{% url 'about' %}">About us</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'faq' %}">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Account</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="{% url 'account_dashboard' %}">My account</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'account_dashboard' %}">My orders</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'wishlist' %}">Wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-sm-6 mb-sm-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Store</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="{% url 'shop' %}">Go shopping</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'cart' %}">My cart</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'contact' %}">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-md-6 col-sm-6 pl-120px line-shape">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Contact Us</h4>
                            <div class="footer-links">
                                <p class="mail">If you have any question, please <br>
                                    contact us at <a href="mailto:mioca_shop@gmail.com">mioca_shop@gmail.com</a></p>
                                <p class="address"><i class="pe-7s-map-marker"></i> <span>370 7TH NEW YORK NY 10001-0041 USA</span></p>
                                <p class="phone m-0">
                                    <i class="pe-7s-phone"></i>
                                    <span><a href="tel:+380505033757">+380505033757</a><br>
                                    <a href="tel:+380687579205">+380687579205</a></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Area End -->
